<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="pathSrc" value="..\..\..\..\src1_normal\" />
    <add key="pathPrologCode" value="..\..\..\PrologCode\" />
    <add key="pathPrologBin" value="C:\Program Files\swipl\bin"/>
    <add key="serverAdress" value="http://localhost:8080/"/>
    <add key="serverAnswerMinTimeout" value="5"/>
    
    <add key="pathTmp" value="tmp/" />
    <add key="pathRes" value="result/" />

    <add key="lstSizeX" value="7500"/>
    <add key="lstSizeY" value="2500"/>

    <add key="figColor" value="#9B9B9B"/>
    <add key="figAmount" value="6"/>
    
    <add key="scale" value="0,1"/>
    <add key="angleStep" value="3"/>
    <add key="borderDistance" value="0"/>
    <add key="scaleCoefs" value="0,5 1"/>
  </appSettings>
</configuration>
